body {
	background-color: #f6f6f6;
}

.audioMap {
	margin : 0 auto;
	width : 90%;
}

.region {
	display : inline-block;
    background-color : blue;
    height : 20px;
}

.playPause {
	margin : 10px;
}

#loading {
  border-radius: 5px;
  position: relative;
  top : 50px;
}



.stories-logo {
	height: 40px;
	width: 40px;
	margin-top: -10px;
}

.podcastName {
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #f6f6f6;
}

.actions {
	margin-bottom: 20px;
}

.action {
	width: 150px;
}

.plain {
	border: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.editIcon {
	font-size: large;
}
